{% extends 'base.html.twig' %}

{% block title %}Hello HabitatsController!{% endblock %}

{% block body %}

<div class="example-wrapper habitats">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/var/www/symfony_docker/src/Controller/HabitatsController.php</code></li>
        <li>Your template at <code>/var/www/symfony_docker/templates/habitats/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
