{% extends 'base.html.twig' %}

{% block title %}Hello HabitatsController!
{% endblock %}

{% block body %}
	<div class="container-fluid habitat">
		<div class="row">
			<div class="row col-md-3 col-lg-2 mx-auto justify-content-sm-around">
				<h1 class="text-center">Nos Habitats</h1>
				{% for habitat in habitats %}
					<div class="col-md-12 col-3 align-item-sm-around">
						<a href="" class="habitat-button" id="habitat-{{ habitat.id }}">
							<img src="{{ asset('uploads/images/' ~ habitat.imageFilename) }}" alt="selectHabitat" class="mx-auto w-100 d-block img-habitat" alt="..."/>
						</a>
						<h5 class="text-center mt-2">{{ habitat.name }}</h5>
					</div>
				{% endfor %}
			</div>
			<div class="row col">
				{{ include('habitat/_content.html.twig') }}
			</div>
		</div>
	</div>
{% endblock %}
