{% extends 'base.html.twig' %}

{% block title %}Service index
{% endblock %}

{% block body %}
	<div class="services">
		<h1>Service index</h1>
		<turbo-frame id="service_animal">
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for service in services %}
						<tr>
							<td>{{ service.name }}</td>
							<td>{{ service.description }}</td>
							<td>
								<a href="{{ path('app_service_show', {'id': service.id}) }}"data-turbo-frame="show_service">show</a>
								<a href="{{ path('app_service_edit', {'id': service.id}) }}"data-turbo-frame="edit_service">edit</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="4">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
        
	</turbo-frame>
{% endblock %}
