/* .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  } */

/* Utilisez des classes spécifiques pour éviter les conflits */
body {
    background-color: #FCF2E1 !important;
    font-family: "Indie Flower", cursive;
    color: #356d6e;
    max-height: 100vh;

    .navbar {
        border-radius: 0 0 20px 20px;
        background-color: #FBB996;
    }

    .navbar .nav-link,
    .navbar .navbar-brand,
    .navbar .dropdown-toggle,
    .navbar .navbar-toggler .nav-item {
        color: #356d6e !important;
        font-family: "Indie Flower", cursive;
        font-weight: bold;
        font-style: normal;
    }

    .nav-admin {
        color: inherit;
        /* Utilise la couleur héritée du parent */
        text-decoration: none;
    }

    .navbar .active {
        color: #FCF2E1;
    }

    /* Administrator component */
    .administrator {
        margin-top: 10vh;
        background-color: #FCF2E1;

    }

    .administrator-dashboard {
        color: #356d6e;
        font-family: "Indie Flower", cursive;

        background-color: #FBB996;

    }

    #content-area {
        background-color: #FCF2E1;

    }
}

// // Homepage component
.homepage {
    margin-top: 10vh;
}

// // Services component
.services {
    margin-top: 10vh;

}

// // Contact component
.contact {
    margin-top: 10vh;

}

// // Habitats component
.habitat {
    margin-top: 10vh;
}

.card-animal-container {
    display: none;
}

.img-habitat {
    width: 15vw;
}

.animal-card {
    width: 400px;
    height: auto;
}

#animal-habitat-Savane {
    background-color: #ffd698;
    border: thick double #FBB996;
}

.animal-mobile-pres-Savane {
    background-color: #FBB996;
    border: thick double #FBB996;
}
.animal-stat-Savane {
    background-color: #FBB996;

}
#animal-habitat-Marais {
    background-color: #6e4f9b;
    border: thick double #512f59;
}

.animal-mobile-pres-Marais {
    background-color: #ae9ec4;
    border: thick double #512f59;
}
.animal-stat-Marais {
    background-color: #ae9ec4;
}
#animal-habitat-Jungle {
    background-color: #4e7f80;
    border: thick double #356d6e;
}

.animal-mobile-pres-Jungle {
    background-color: #b3c8c9;
    border: thick double #356d6e;
}
.animal-stat-Jungle {
    background-color: #b3c8c9;
}
.animal-img {
    height: 32vh;
    border-radius: 5% 5% 0 0;
}

.animal-pres,
.animal-stat {
    font-family: "Lato", sans-serif;

}

.animal-pres {
    background-color: #c7c7ca;
}

.animal-stat {
    height: 28vh;
    width: 95%;
    border: #FBB996 solid 1px;
}

.material-symbols-outlined,
.bi {
    margin-left: -5%;
    font-variation-settings:
        'FILL' 0,
        // 'wght' 400,
        'GRAD' 0,
        // 'opsz' 24
}

/* Navbar component */

/* Service component */
// .service-content {
//     margin-top: 10vh;
//     font-family: "Lato", sans-serif;
//     color: #356d6e;
//     background-color: #FCF2E1;

// }

// .service-content h2 {
//     font-family: "Indie Flower", cursive;
//     color: #356d6e;
// }