{% extends 'base.html.twig' %}

{% block title %}Edit VeterinaryRepport{% endblock %}

{% block body %}
    <h1>Edit VeterinaryRepport</h1>
	<turbo-frame id="edit_VetRepports">

    {{ include('veterinary_repport/_form.html.twig', {'button_label': 'Update'}) }}
    </turbo-frame>

    <a href="{{ path('app_veterinary_repport_index') }}">back to list</a>

    {{ include('veterinary_repport/_delete_form.html.twig') }}
{% endblock %}
