{# templates/admin/health.html.twig #}
{% extends 'administrator/dashboard.html.twig' %}

{% block content %}

	<h2>Gestion santé des animaux</h2>
	<p>Contenu pour la gestion des santé des animaux.</p>
{% endblock %}
