{% extends 'base.html.twig' %}

{% block title %}Hello AdministratorController!
{% endblock %}

{% block body %}
	<div class="administrator">
		<button id="toggle_user_param" classs="btn btn-link">
			<i class="bi bi-person-circle"></i>
		</button>

		<ul class="nav nav-tabs">
			<li class="nav-item">
				<turbo-frame id="new_user">
					<a href="{{ path('app_user_new') }}" turbo-frame="new_user" turbo-visit-control="reload" class="btn btn-link">
						<img src="{{ asset('images/person-fill-add.svg') }}"/>
					</a>
				</turbo-frame>
			</li>
			<li class="nav-item">
				<turbo-frame id="user_show">
					{{ include('administrator/_content.html.twig', { users: users }) }}
                    <i class="bi bi-person-lines-fill"></i>
				</turbo-frame>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Link</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
			</li>
		</ul>
	</div>
{% endblock %}
