{% extends 'base.html.twig' %}

{% block title %}Hello AdministratorController!
{% endblock %}

{% block body %}
	<div class="administrator container-fluid row gap-3">
		<div class="col-4 border border-dark">
			<button id="toggle_user_param" class="btn btn-link">
				Utilisateurs
			</button>
			<div id="user-pannel">
				<turbo-frame id="user_show">
					{{ include('administrator/_content.html.twig', { users: users }) }}
				</turbo-frame>
				<button class="btn btn-link">
					Ajouter
				</button>
			</div>

		</div>
		<i class="bi bi-trash-fill"></i>
		<div class="col-4 border border-dark" id="service-pannel">
			<button id="toggle_user_param" class="btn btn-link">
				Services
			</button>
		</div>
	</div>
{% endblock %}
