{# templates/user/new.html.twig #}
<turbo-frame id="new_user">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
    <button class="btn">Ajouter</button>
    {{ form_end(form) }}
</turbo-frame>
