
<h1>Bienvenue {{ lastname }}, {{name}}!</h1>

<p>
    Votre identifiant personnel est le suivant:
</p>
<p><code>{{ mail }}</code></p>
<p>Veuillez contacter votre administrateur afin qu'il puisse vous transmettre le mot de passe à utiliser.</p>
